In [17]:
import pandas as pd
import numpy as np

In [18]:
#Data is stored to the Data Frame by reading the CSV file through Pandas
df=pd.read_csv("/Users/harjin/Desktop/NPOWER/npower_git/npower/course_7/adult.csv")

In [19]:
#
df.describe(include="all")

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
count,32561.000000,32561,3.256100e+04,32561,32561.000000,32561,32561,32561,32561,32561,32561.000000,32561.000000,32561.000000,32561,32561
unique,NaN,9,NaN,16,NaN,8,15,6,5,2,NaN,NaN,NaN,43,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29169,24720
mean,38.581647,NaN,1.897784e+05,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,1077.648844,87.303830,40.437456,NaN,NaN
std,13.640433,NaN,1.055500e+05,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,7385.292085,402.960219,12.347429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.178270e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.783560e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.370510e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

In [ ]:
#df.replace(" ",np.nan,inplace=True)
df = df.map(lambda x: x.strip() if isinstance(x, str) else x) 
df.replace('?', np.nan,inplace=True)

In [23]:
df['gender'].value_counts()

gender
Male      21790
Female    10771
Name: count, dtype: int64

In [24]:
df[['gender','age']].groupby(['gender'],as_index=False).mean()

   gender        age
0  Female  36.858230
1    Male  39.433547

In [35]:
percent_country = df['native-country'].value_counts(normalize=True)*100
print(percent_country['Germany'])

0.42841953843267244

In [42]:
df[['income','age']].groupby(['income'],as_index=False).mean()

  income        age
0  <=50K  36.783738
1   >50K  44.249841

In [ ]:
df[['income','age']].groupby(['income'],as_index=False).std()

  income        age
0  <=50K  14.020088
1   >50K  10.519028

In [45]:
df[df['income']=='>50K']['education'].value_counts()

education
Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: count, dtype: int64

In [47]:
df[['race','gender','age']].groupby(['gender','race'],as_index=False).describe()

   gender                race      age                                    \
                                 count       mean        std   min   25%
0  Female  Amer-Indian-Eskimo    119.0  37.117647  13.114991  17.0  27.0
1  Female  Asian-Pac-Islander    346.0  35.089595  12.300845  17.0  25.0
2  Female               Black   1555.0  37.854019  12.637197  17.0  28.0
3  Female               Other    109.0  31.678899  11.631599  17.0  23.0
4  Female               White   8642.0  36.811618  14.329093  17.0  25.0
5    Male  Amer-Indian-Eskimo    192.0  37.208333  12.049563  17.0  28.0
6    Male  Asian-Pac-Islander    693.0  39.073593  12.883944  18.0  29.0
7    Male               Black   1569.0  37.682600  12.882612  17.0  27.0
8    Male               Other    162.0  34.654321  11.355531  17.0  26.0
9    Male               White  19174.0  39.652498  13.436029  17.0  29.0


    50%    75%   max
0  36.0  46.00  80.0
1  33.0  43.75  75.0
2  37.0  46.00  90.0
3  29.0  39.00  74.0
4  35.0  46.00  90.0
5  35.0  45.00  82.0
6  37.0  46.00  90.0
7  36.0  46.00  90.0
8  32.0  42.00  77.0
9  38.0  49.00  90.0

In [ ]:
# Among whom is the proportion of those who earn a lot (>50K) greater: married or
# single men (marital-status feature)? Consider as married those who have
# a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent
# or Married-AF-spouse), the rest are considered bachelors.
df_income = df['income']
df[df_income =='>50K']['marital-status'].str.contains('Married-').value_counts()

marital-status
True     6736
False    1105
Name: count, dtype: int64

In [73]:
# What is the maximum number of hours a person works per week
# (hours-per-week feature)? How many people work such a number of hours, and
# what is the percentage of those who earn a lot (>50K) among them?

max_hours = df['hours-per-week'].max()
df['income'][df['hours-per-week'] == max_hours].value_counts(normalize=True)*100
# print(percent_country['Germany'])

income
<=50K    70.588235
>50K     29.411765
Name: proportion, dtype: float64